$desktop: 1500px;
$desktop-small: 1310px;
$tablet: 1288px;
$tablet-small: 859px;
$mobile: 570px;
$mobile-small: 320px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin desktop-small {
  @media (max-width: $desktop-small) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: $tablet-small) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: $mobile-small) {
    @content;
  }
}

//HOVER
@mixin hover-on() {
  @media (min-width: 769px) {
    transition: all 0.33s ease;
    &:is(:hover, :focus, :active) {
      @content;
    }
  }
}
