:root {
  --ff: "Poppins", sans-serif;
  --ff-secondary: "Nunito Sans", sans-serif;

  --f-title: normal 700 36rem/180% var(--ff);

  --c-desc: rgb(105, 105, 132);
  --f-desc: normal 400 24rem/180% var(--ff);
  --f-title-desc: normal 500 30rem/150% var(--ff);

  --transition: 0.2s all ease-in-out;

  --f-li: normal 400 22rem/33rem var(--ff);
  --c-li: rgb(37, 38, 65);

  --ff-secondary-700-36: 700 36rem / normal var(--ff-secondary);
  --ff-secondary-400-24: 400 24rem / normal var(--ff-secondary);

  --ff-400-18: 400 18rem / normal var(--ff);
  --ff-400-20: 400 20rem / normal var(--ff);
  --ff-500-20: 500 20rem / normal var(--ff);
  --ff-500-22: 500 22rem / normal var(--ff);
  --ff-500-26: 500 26rem / normal var(--ff);
}

@include desktop-small {
  :root {
  }
}

@include tablet-small {
  :root {
  }
}
