@import "./SidebarList/SidebarList";

.nav {
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  background: rgb(255, 255, 255);

  .container {
    max-width: 306px;
    padding: 36px 28px 78px 28px;
    display: flex;
    flex-direction: column;
    @include tablet {
      background: rgb(255, 255, 255);
    }
  }

  &__logo {
    margin-bottom: 64px;
    a {
      display: flex;
      align-items: center;
      color: rgb(0, 0, 0);
      font-family: Poppins;
      font-size: 20rem;
      font-weight: 600;
      line-height: 39px;
      letter-spacing: 1%;
      gap: 8px;
      @include desktop {
        font-size: 16rem;
      }
      @include tablet {
        font-size: 12rem;
      }
    }
    &-text {
      display: flex;
      align-items: baseline;
      gap: 4px;
      span {
        color: rgb(131, 131, 131);
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
      }
    }
  }

  &__wraps {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 100vh;
    &-text {
      span {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 1%;
      }
      p {
        color: rgb(117, 117, 117);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1%;
      }
    }
  }
}
.toggle-sidebar {
  display: none;
  @include tablet {
    display: block;
    max-width: 24px;
    font-size: 17px;
    font-weight: 600;
    color: adjust-hue($color: #000000, $degrees: 0);
    background: transparent;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
.nav {
  @include tablet {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    background: rgb(250, 251, 255);
  }
  @include mobile {
    width: unset;
  }
}

.is-hidden {
  visibility: visible;
  transition: transform 250ms ease-in-out, visibility 250ms ease-in-out;
  overflow: scroll;
}

.nav.is-hidden {
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, visibility 250ms ease-in-out;
}
