.nav__list {
  &-item {
  }
  &-link {
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include hover-on {
      border-radius: 8px;
      background: rgb(89, 50, 234);
      color: white;
      fill: white;
    }

  

    color: rgb(145, 151, 179);
    .wraps {
      display: flex;
      align-items: center;
      gap: 14px;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
